body {
    color: #020F59;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    box-sizing: border-box;
    font-size: 17px;
    background-color: #42C8FF;
}

.header {
    background-color: #307897;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF8D6;
    margin-bottom: 7vh;
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    margin: 20px 0;
    font-size: 25px;
    font-weight: bold;
}

.form-wrapper {
    width: 80%;
    margin: auto;
    padding: 5px;
    background-color: #D04356;
    height: 45vh;
}

.travel-question {
    font-size: 24px;
    margin: 20px 0;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

form {
    width: 100%;
}

.white {
    background-color: #F2F2F2;
    width: 80%;
    margin: 20px auto;
}

input,
.explore-button {
    padding: 5px;
}

label,
input,
.explore-button {
    border: 0;
    display: block;
    padding: 3px;
    height: 22px;
    background-color: #F2F2F2;
    width: 100%;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    height: 200px;
    width: 80%;
    margin: 20px auto
}

.white-country, .white-country > input {
    background-color: #F2F2F2;
    margin-bottom: 40px;
}

.white-country > input {
    margin: 0;
}

.country-input {
    height: 30px;
    margin-bottom: 50px;
}

ul {
    height: 200px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    background-color: #F2F2F2;
    top: 36.5px;
    padding: 0;
}


li {
    padding-left: 40px;

}

.results {
    background-color: #42C8FF;
}

.weather-data,
.weather-description {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 24px;
    height: 67px;
    background-color: #307897;
    color: #FFF8D6;
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 13%;
}

.weather-results,
.news-results {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.hidden {
    display: none;
}

.description-day {
    width: 25%;
    max-width: 80px;
    margin-right: 60px;

}

.buttons-div {
    height: 35px;

}

.c,
.f {
    float: right;
    margin-left: 7px;
    width: 50px;
    margin-top: 5px
}

.day {
    width: 25%;
    max-width: 80px;
}

.weather-img {
    height: 60px;
    width: 60px;
    margin-top: 7px;
}

.temp,
.high-low {
    width: 50%;
    float: right;
    text-align: right;
}

.error-message {
    color: #8C2703;
}

a,
a:active,
a:visited {
    color: #0339A6
}

/*colors{
    These are colors from the color palate I choose for this app
    #F2F2F2
    #8C6A03
    #0339A6
    #020F59
}*/